/* desktop */

@media all and (min-width: 600px) {

:host {
      display: flex;
      flex-direction: row;
      height: auto;
}

/* desktop */

:host button {
      height: initial;   
      flex-direction: row;
}

:host button:nth-child(2n) { 
      align-self: end;
      justify-items: end;
      justify-content: end;
}

:host button:nth-child(odd) {
      align-items: flex-start;
      margin-top: 100px;
}

}

/* mobile */

@media all and (max-width:599px) {

      :host {
            display: flex;
            flex-direction: column;
            height: auto;
            min-width: 50%;
      }
      
      :host button {
            height: initial;   
      }
      :host button:nth-child(2n) { /* :first*/
            justify-items: start;
            margin-left: 150px;
      }
      
      :host button:nth-child(even):nth-child(2) { 
            flex-direction: row!important;
            flex-wrap: nowrap;            
      }
      
      :host button:nth-child(odd) {
            align-items: end;
            margin-right: 150px;
      }      

}
