:host {
      display: flex; width: 99vw; flex-wrap: wrap;
}
.item {
      /* flex: 1 1 0px; */
      width: 250px;
      flex-direction: column;
}
.item>* {
      display: flex;
      padding-bottom: 10px;
      /* flex: 1 1 160px; */
}


@media all and (max-width: 800) {
      .item:nth-child(2n) {
            flex-wrap: wrap;
            
      } 
}
@media all and (min-width: 801) {
      .item:nth-child(2n+2) {
            flex-wrap: wrap;
      }
}

.bio {
      display: inline-flex;
      flex-direction: row;
      height: auto;
      align-items: stretch;
      font-size: 1.2em;
}

.bio-details {
      padding-left: 10px;
      flex-direction: column;
      justify-items: stretch;
      align-items: stretch;
      height: 100%;
}

.bio-details b {
      margin-bottom: 8px;
}

.item {
      margin-bottom: 10px;
      margin-right: 10px;
      border: 1px solid lightgrey;
      padding: 20px;
}