<div *ngFor="let i of contacts"  class="item">
      <div class="bio">
            <img [src]="i.avatarUrl" class="avatar" style="width: 30%; display: inline-flex!important; border-radius: 50%">
            <div class="bio-details" style="display: flex;">
                  <b style="display: flex">{{ i.name }}</b>
                  <small style="display: flex; flex-wrap: wrap; color: lightgray">{{ i.jobTitle }}</small>
            </div>
      </div>     
      <div>
            <span class="material-icons">
                  phone
            </span> {{ i.telephone }}
      </div>
      <div>
            <span class="material-icons">
                  email
            </span>{{ i.email }}
      </div>
      <div>
            <span class="material-icons">
                  send
            </span>{{ i.address }} 
      </div>
</div>